[credential "https://github.com"]
	helper = 
	helper = !/data/data/com.termux/files/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/data/data/com.termux/files/usr/bin/gh auth git-credential
[user]
	email = hitman47474@hotmail.com
	name = randomTwitch
[push]
	autoSetupRemote = true
