[credential "https://github.com"]
	helper = 
	helper = !/data/data/com.termux/files/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/data/data/com.termux/files/usr/bin/gh auth git-credential
[user]
	email = alexanadupu@bmail.ag
	name = randomTwitch
	signingkey = B229EF81F81ADC2D
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[commit]
	gpgsign = true
